.features {
  background-color: $light-background;
  font-family: $principal-font;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  min-width: 200px;
  max-height: 600px;
  padding-left: 15px;

  &__title {
    font-weight: bold;
    font-size: 24px;
    @media (min-width: $breakpoint-tablet) {
      font-size: 26px;
    }
    @media (min-width: $breakpoint-desktop) {
      font-size: 32px;
    }
  }

  &__container {
    max-width: 200px;

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 50px;
      max-width: none;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__button {
    font-size: 20px;
    color: $base-color;
    background-color: $highlighted-color;
    text-align: center;
    border: 2px solid $highlighted-color;
    text-transform: capitalize;
    border-radius: 30px;
    margin-top: 30px;
    margin-bottom: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color ease 2s, color ease 2s, border ease 2s;
    &:hover {
      background-color: $dark-background;
      color: $highlighted-color;
      border: 2px solid $highlighted-color;
    }

    @media (min-width: $breakpoint-tablet) {
      padding-left: 43px;
      padding-right: 43px;
    }

    @media (min-width: $breakpoint-tablet) {
      padding-left: 63px;
      padding-right: 63px;
    }
  }
}
