<section class="features" id="features">
  <h3 class="features__title">
    3 Reasons To Purchase
  </h3>
  <div class="features__container">
    <include src="./feature.html" title="Ut sed metus" text="Lorem ipsum dolor sit amet, consecteur."></include>
    <include src="./feature.html" title="Curabitur ac erat" text="Maruris mattis urna quis lorem molestie."></include>
    <include src="./feature.html" title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt."></include>
  </div>
  <button class="features__button">
    More reasons
  </button>
</section>