<footer class="footer">
    <a class="icon-scroll" href="#header" title="top of page">
        <img src="./assets/images/ico-arrow.svg" alt="icon scroll">
    </a>
    <div class="footer-links__container">
        <nav class="footer-links__nav">
            <ul>
                <include src="./footer-links.html" text="Twitter" href="https://twitter.com/m_suefra"></include>
                <include src="./footer-links.html" text="Linkedin" href="https://www.linkedin.com/in/mireia-suefra/">
                </include>
                <include src="./footer-links.html" text="Github" href="https://github.com/mireiasuefra"></include>
            </ul>
        </nav>
        <nav class="footer-links__social">
            <ul>
                <include src="./footer-links.html" text="articles" href="https://www.linkedin.com/in/mireia-suefra/">
                </include>
                <include src="./footer-links.html" text="books" href="https://github.com/mireiasuefra"></include>
                <include src="./footer-links.html" text="events" href="https://twitter.com/m_suefra"></include>
            </ul>
        </nav>
        <div class="footer-links__span">
            <span> © 2021</span>
            <span>we <span class="heart">&#x2764;</span> <span class="comp">componens</span> </span>
        </div>
    </div>

</footer>