<header id="header">
    <div class="menu">
        <a class="menu__link" href="https://www.linkedin.com/in/mireia-suefra/" target="blanck" title="linkedin">
            <img src="./assets/images/ico-menu.svg" alt="icon menu">
        </a>
    </div>

    <div class="hero">
        <h1 class="hero__title">
            Hello World!
        </h1>
        <P class="hero__text">
            You are viewing an example of a landing page.
        </P>
        <a class="hero__icon-scroll" href="#features" title="go to features">
            <img class="hero__icon-img" src="./assets/images/ico-scroll-down.svg" alt="icon scroll">
        </a>
    </div>
</header>